export(spot)
export(spotAlgEs)
export(spotAlgEsQuickTest)
export(spotAlgStartEs)
export(spotAlgStartEsVar)
export(spotAlgStartRgp)
export(spotAlgStartSann)
export(spotAlgStartSannVar)
export(spotBraninFunction)
export(spotCalcNoise)
export(spotCompare)
export(spotCreateDesignBasicDoe)
export(spotCreateDesignDoeR3)
export(spotCreateDesignFrF2)
export(spotCreateDesignLhd)
export(spotCreateDesignLhs)
export(spotDetermineTheta)
export(spotGenerateSequentialDesign)
export(spotGenerateSequentialDesignOcba)
export(spotGetAllRepeats)
export(spotGetMergedDataMatrixB)
export(spotGetOptions)
export(spotGetRawDataMatrixB)
export(spotGetRawResData)
export(spotGetRepeats)
export(spotGui)
export(spotHlpF.norm)
export(spotHlpF.norminv)
export(spotInstAndLoadPackages)
export(spotMcoSort)
export(spotMetaFlattenFbsRow)
export(spotMexicanHatFunction)
export(spotNormalizeMatrix)
export(spotNormalizeMatrix2)
export(spotNormDesign)
export(spotOcba)
export(spotOcbaTest)
export(spotOptim)
export(spotOptimInterface)
export(spotParetoOptMulti)
export(spotPlotBst)
export(spotPlotPower)
export(spotPlotSeverity)
export(spotPower)
export(spotPredictDice)
export(spotPredictEarth)
export(spotPredictForrester)
export(spotPredictGausspr)
export(spotPredictKrig)
export(spotPredictKsvm)
export(spotPredictLm)
export(spotPredictLmOptim)
export(spotPredictMlegp)
export(spotPredictOptMulti)
export(spotPredictPOKER)
export(spotPredictPsvm)
export(spotPredictQrnn)
export(spotPredictRandomForest)
export(spotPredictRandomForestMlegp)
export(spotPredictTgp)
export(spotPredictTree)
export(spotPrepare)
export(spotPrepareData)
export(spotPrepareSystem)
export(spotRastriginFunction)
export(spotReadBstFile)
export(spotReadRoi)
export(spotRegLikelihood)
export(spotRegPredictor)
export(spotReport3d)
export(spotReportContour)
export(spotReportDefault)
export(spotReportMetaDefault)
export(spotReportSens)
export(spotReportSensY)
export(spotReverseNormalizeMatrix)
export(spotRgpTargetFunction)
export(spotROI)
export(spotRosenbrockFunction)
export(spotRosenbrockGradientFunction)
export(spotRsm)
export(spotSeqDesignIncreaseMultTwo)
export(spotSeqDesignIncreasePlusOne)
export(spotSeverity)
export(spotSixHumpFunction)
export(spotSmsEmoa)
export(spotSphere1Function)
export(spotSphereFunction)
export(spotStepAutoOpt)
export(spotStepInitial)
export(spotStepMetaOpt)
export(spotStepReport)
export(spotStepRunAlg)
export(spotStepSequential)
export(spotVersion)
export(spotWildFunction)
export(spotWriteAroi)
export(spotWriteBest)
export(spotWriteDes)
export(spotWriteRoiFileForRepeats)
S3method(print,spotConfig)
