export(corrcubic)
export(correxp)
export(correxpg)
export(corrgauss)
export(corrkriging)
export(corrlin)
export(corrnoisygauss)
export(corrnoisykriging)
export(corrspherical)
export(corrspline)
export(daceBuilder)
export(dacePredictor)
export(forrBuilder)
export(forrCoBuilder)
export(forrCoLikelihood)
export(forrCoRegPredictor)
export(forrRegLikelihood)
export(forrRegPredictor)
export(forrReintPredictor)
export(regpoly0)
export(regpoly1)
export(regpoly2)
export(spot)
export(spotAlgEs)
export(spotAlgEsQuickTest)
export(spotAlgStartEs)
export(spotAlgStartEsGlg)
export(spotAlgStartEsVar)
export(spotAlgStartRgp)
export(spotAlgStartSann)
export(spotAlgStartSannVar)
export(spotBraninFunction)
export(spotCalcNoise)
export(spotCompare)
export(spotCreateDesignBasicDoe)
export(spotCreateDesignFactors)
export(spotCreateDesignFrF2)
export(spotCreateDesignLhd)
export(spotCreateDesignLhs)
export(spotCreateDesignLhsOpt)
export(spotEnsembleMultiAlternate)
export(spotEnsembleMultiAverage)
export(spotEnsembleMultiChoose)
export(spotEnsembleMultiRank)
export(spotEnsembleMultiRankWeighted)
export(spotEnsembleSingleBLAbern)
export(spotEnsembleSingleBLAnorm)
export(spotEnsembleSingleEpsGreedy)
export(spotEnsembleSinglePOKER)
export(spotEnsembleSingleRoundSearch)
export(spotEnsembleSingleSoftMax)
export(spotEnsembleSingleUCB1)
export(spotFeedback.deviation)
export(spotFeedback.error.combo)
export(spotFeedback.error.full)
export(spotFeedback.error.last)
export(spotFeedback.error.order)
export(spotFeedback.reward.bern)
export(spotFeedback.reward.norm)
export(spotFeedback.sd.interSubModelsFull)
export(spotFeedback.y)
export(spotGenerateSequentialDesign)
export(spotGetAllRepeats)
export(spotGetMergedDataMatrixB)
export(spotGetOptions)
export(spotGetRawDataMatrixB)
export(spotGetRawResData)
export(spotGetRepeats)
export(spotGlgCreate)
export(spotGlgEval)
export(spotGlgInit)
export(spotGui)
export(spotHlpF.norm)
export(spotHlpF.norminv)
export(spotInfillExpImp)
export(spotInfillHyperVolume)
export(spotInfillLcbHyperVolume)
export(spotInfillLcbMulti)
export(spotInfillLcbSingle)
export(spotInfillProbImp)
export(spotInfillSD)
export(spotInfillSExI2d)
export(spotInitializePredictor)
export(spotInstAndLoadPackages)
export(spotMcoSelectionHypervol)
export(spotMcoSort)
export(spotMetaFlattenFbsRow)
export(spotMexicanHatFunction)
export(spotModel.func)
export(spotModel.predict)
export(spotModel.train)
export(spotModelDescentLm)
export(spotModelOptim)
export(spotModelParetoOptim)
export(spotNormalizeMatrix)
export(spotNormalizeMatrix2)
export(spotNormDesign)
export(spotOcba)
export(spotOcbaTest)
export(spotOptim)
export(spotOptimEs)
export(spotOptimInterface)
export(spotOptimizationInterface)
export(spotOptimizationInterfaceMco)
export(spotOptimLHS)
export(spotParetoOptMulti)
export(spotPlotBst)
export(spotPlotPower)
export(spotPlotSeverity)
export(spotPower)
export(spotPredictCoForrester)
export(spotPredictDace)
export(spotPredictDice)
export(spotPredictEarth)
export(spotPredictEsvm)
export(spotPredictForrester)
export(spotPredictGausspr)
export(spotPredictKrig)
export(spotPredictKsvm)
export(spotPredictLm)
export(spotPredictLmFactor)
export(spotPredictMCO)
export(spotPredictMlegp)
export(spotPredictMLP)
export(spotPredictOptMulti)
export(spotPredictQrnn)
export(spotPredictRandomForest)
export(spotPredictRandomForestMlegp)
export(spotPredictTgp)
export(spotPredictTree)
export(spotPrepare)
export(spotPrepareData)
export(spotPrepareSystem)
export(spotRastriginFunction)
export(spotReadBstFile)
export(spotReadRoi)
export(spotReport3d)
export(spotReport3dMulti)
export(spotReportContour)
export(spotReportContourMulti)
export(spotReportDefault)
export(spotReportEarth)
export(spotReportMAMP)
export(spotReportMetaDefault)
export(spotReportSAMP)
export(spotReportSens)
export(spotReportSensY)
export(spotReverseNormalizeMatrix)
export(spotRgpTargetFunction)
export(spotROI)
export(spotRosenbrockFunction)
export(spotRosenbrockGradientFunction)
export(spotSelectionAdjustedRsq)
export(spotSelectionAic)
export(spotSelectionMae)
export(spotSelectionMse)
export(spotSelectionRmse)
export(spotSelectionRsq)
export(spotSelectionSae)
export(spotSelectionScaledMse)
export(spotSelectionScaledRmse)
export(spotSelectionScaledSse)
export(spotSelectionSse)
export(spotSeqDesignIncreaseMultTwo)
export(spotSeqDesignIncreasePlusOne)
export(spotSeverity)
export(spotSExI2d)
export(spotSixHumpFunction)
export(spotSmsEmoa)
export(spotSmsEmoaKriging)
export(spotSphere1Function)
export(spotSphereFunction)
export(spotStepAutoOpt)
export(spotStepInitial)
export(spotStepMetaOpt)
export(spotStepReport)
export(spotStepRunAlg)
export(spotStepSequential)
export(spotSurf3d)
export(spotSurfContour)
export(spotVersion)
export(spotWildFunction)
export(spotWriteAroi)
export(spotWriteBest)
export(spotWriteDes)
export(spotWriteRoiFileForRepeats)
S3method(print,dace)
S3method(print,forr)
S3method(print,spotConfig)
